@{
    Layout = "_Layout";
}

@using System.Security.Claims

<div class="container">
    @if (User.Identity.IsAuthenticated)
    {
        <h1>Your Beer List, @User.Identity.Name:</h1>
        foreach (var beer in Model)
        {    
            <div class="row beers-list-row">
                <div class="col-4">
                    <ul class="list-group list-group-flush">
                        <a href="/beers/@beer.BeerId"><li class="list-group-item">@beer.BeerName</li></a>
                    </ul>
                </div>
                <div class="col-2">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@beer.BeerStyle</li>
                    </ul>
                </div>
                <div class="col-2">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@beer.BeerAbv</li>
                    </ul>
                </div>
                <div class="col-2">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@beer.BeerIbu</li>
                    </ul>
                </div>
                <div class="col-2">
                    <form method="post" action="/user/beers/@beer.BeerId/delete">
                        <button id="@beer.BeerId" class="btn btn-sm btn-outline-warning add-beer favorite-beer"><i class="fas fa-times"></i> &nbsp;Unfavorite</button>
                    </form>
                </div>
            </div>
        }
    }
    else
    {
        <div class="alert alert-warning" role="alert">
            <i class="fas fa-exclamation-triangle"></i>&nbsp;<strong>Oops! </strong> You need to log in to view this page!
        </div>
    }
</div>