@{
    Layout = "_Layout";
}

@using System.Security.Claims

<div class="container">
    @if (User.Identity.IsAuthenticated && User.IsInRole("user") || User.IsInRole("owner"))
    {
        if (User.IsInRole("user"))
        {
            <h2 class="form-header beers-header">My Beers</h2>
        }
        else
        {
            <h2 class="form-header beers-header">My Taplist</h2>
        }

        foreach (var beer in Model)
        {    
            <div class="row beers-list-row">
                <div class="col-4">
                    <ul class="list-group list-group-flush">
                        <a href="/beers/@beer.BeerId"><li class="list-group-item">@beer.BeerName</li></a>
                    </ul>
                </div>
                <div class="col-2">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@beer.BeerStyle</li>
                    </ul>
                </div>
                <div class="col-2">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@beer.BeerAbv</li>
                    </ul>
                </div>
                <div class="col-2">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@beer.BeerIbu</li>
                    </ul>
                </div>
                <div class="col-2">
                    <form method="post" action="/user/beers/@beer.BeerId/delete">
                    @if (User.IsInRole("user"))
                    {
                        <button id="@beer.BeerId" class="btn btn-sm btn-outline-warning favorite-beer"><i class="fas fa-times"></i> &nbsp;Unfavorite</button>
                    }
                    else
                    {
                        <button id="@beer.BeerId" class="btn btn-sm btn-outline-warning favorite-beer"><i class="fas fa-times"></i> &nbsp;Remove</button>
                    }
                    </form>
                </div>
            </div>
        }
    }
    else
    {
        await Html.RenderPartialAsync("_RequiresLogin");
    }
</div>