@{
    Layout = "_Layout";
}

@using WhatsOnTap.ViewModels
@model RegisterViewModel

<div class="container">
    <h2 class="form-header">Register</h2>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        <div class="form-model">
            <hr>
            <br>
            <div class="form-group">
                @Html.LabelFor(user => user.Email)
                @Html.TextBoxFor(user => user.Email, new {@class="form-control", required="true"})
            </div>
            <div class="form-group">
                @Html.LabelFor(user => user.Password)
                @Html.PasswordFor(user => user.Password, new {@class="form-control", required="true"})
            </div>
            <div class="form-group">
                @Html.LabelFor(user => user.ConfirmPassword)
                @Html.PasswordFor(user => user.ConfirmPassword, new {@class="form-control", required="true"})
            </div>
            <div class="form-group">
                <label>Account Type</label>
                <div>
                    <label for="owner">
                        <input type="radio" id="owner" name="UserType" value="owner">
                        Bar Owner
                    </label>
                </div>
                <div>
                    <label for="user">
                        <input type="radio" id="user" name="UserType" value="user">
                        User
                    </label>
                </div>
            </div>
        </div>
        <div class="reg-buttons">
            <a href="/" class="btn btn-lg btn-outline-warning cancel-button">Cancel</a>
            <input type="submit" class="btn btn-lg btn-outline-primary" value="Register" />
        </div>
    }
</div>