@{
    Layout = "_Layout";
}

@using WhatsOnTap.ViewModels
@model RegisterViewModel

<div class="container">
    <div class="register-form">
    <h2 id="reg-header">Register</h2>
    <hr>
    <br>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
        {
            <div class="form-group">
            @Html.LabelFor(user => user.Email)
            @Html.TextBoxFor(user => user.Email, new { @class="form-control", placeholder="name@example.com", required="true"})
            </div>
            <div class="form-group">
                @Html.LabelFor(user => user.Password)
                @Html.PasswordFor(user => user.Password, new { @class="form-control", required="true"})
            </div>
            <div class="form-group">
                @Html.LabelFor(user => user.ConfirmPassword)
                @Html.PasswordFor(user => user.ConfirmPassword, new { @class="form-control", required="true"})
            </div>
            <div class="reg-buttons">
                <a href="/" class="btn btn-lg btn-outline-warning">Cancel</a>
                <input type="submit" class="btn btn-lg btn-outline-success" value="Register" />
            </div>
        }
    </div>
</div>