@model IEnumerable<WhatsOnTap.Models.Bar>

@{
  Layout = "_Layout";
  var itemCount = 1;
}

<div class="container">

    <form action="/beers/new" method="post">
        <label for="beerName">Beer Name</label>
        <input name="beerName" type="text" required>
        <label for="brewery">Brewery</label>
        <input name="brewery" type="text" required>
        <label for="style">Style</label>
        <input name="style" type="text" required>
        <label for="abv">ABV</label>
        <input name="abv" type="text" required>
        <label for="ibu">IBU</label>
        <input name="ibu" type="text" required>





        <h1>Which bars is this beer served in?</h1>
            @foreach (var bar in Model)
            {   
                @if (itemCount == 1)
                {
                    @Html.Raw("<div class='card-deck'>")
                }
                <div class="card">

                    <img class="card-img-top" src="~/img/bar-icon.png" alt="Card image cap" for="barId">
                    <div class="card-body" for="barId">
                        <h4 class="card-title">@bar.BarName</h4>
                    </div>
                    <div class="card-footer" for="barId">
                        <p class="card-text"><span class="card-category">Rating:</span> @bar.BarRating</p>
                    </div>
                    <input type="checkbox" name="barId" value="@bar.BarId">
                </div>

                @if (itemCount == 3)
                {
                    @Html.Raw("</div>")
                    itemCount = 1;
                }
                else {
                    itemCount++;
                } 
            }

        <button type="submit">Submit</button>
    </form>

</div>