@model IEnumerable<WhatsOnTap.Models.Bar>

@{
  Layout = "_Layout";
  var itemCount = 1;
}

<div class="container">
    
    <form action="/beers/new" method="post">
        <h1>Enter a new Beer:</h1>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Beer Name</span>
            </div>
            <input type="text" name="beerName" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>

            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Brewery</span>
            </div>
            <input type="text" name="brewery" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>

            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Style</span>
            </div>
            <input type="text" name="style" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>

            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">ABV</span>
            </div>
            <input type="text" name="abv" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>

            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">IBU</span>
            </div>
            <input type="text" name="ibu" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>
        </div>




        <h2>Which bars is this beer served in?</h2>
            @foreach (var bar in Model)
            {   
                @if (itemCount == 1)
                {
                    @Html.Raw("<div class='card-deck'>")
                }
                <div class="card">

                    <img class="card-img-top" src="~/img/bar-icon.png" alt="Card image cap" for="barId">
                    <div class="card-body" for="barId">
                        <h4 class="card-title">@bar.BarName</h4>
                    </div>
                    <div class="card-footer" for="barId">
                        <p class="card-text"><span class="card-category">Rating:</span> @bar.BarRating</p>
                    </div>
                    <input type="checkbox" name="barId" value="@bar.BarId">
                </div>

                @if (itemCount == 3)
                {
                    @Html.Raw("</div>")
                    itemCount = 1;
                }
                else {
                    itemCount++;
                } 
            }
        <button class="submitForm" type="submit">Submit</button>
    </form>

</div>