@model WhatsOnTap.Models.Beer

@{
  Layout = "_Layout";
}

<div class='container'>
  <h1>Sample detail page for a Beer</h1>

  <div class="beersGrid">
    <div>Beer</div>
    <div>Brewery</div>
    <div>Style</div>
    <div>ABV</div>
    <div>IBU</div>

    <div>@Model.BeerName</div>
    <div>@Model.BeerBreweryName</div>
    <div>@Model.BeerStyle</div>
    <div>@Model.BeerAbv</div>
    <div>@Model.BeerIbu</div>



  </div>

</div>
