@model WhatsOnTap.Models.Beer

@{
  Layout = "_Layout";
}

<div class='container'>
  <h1>Sample detail page for a Beer</h1>

  <div class="beersGridFive">
    <div class="cellHead">Beer Name</div>
    <div class="cellHead">Bars Serving</div>
    <div class="cellHead">Brewery</div>
    <div class="cellHead">Style</div>
    <div class="cellHead">ABV</div>
    <div class="cellHead">IBU</div>

    <div>@Model.BeerName</div>
    <div>Taplist</div>
    <div>@Model.BeerBreweryName</div>
    <div>@Model.BeerStyle</div>
    <div>@Model.BeerAbv</div>
    <div>@Model.BeerIbu</div>

  </div>
  <a href="/beers/@Model.BeerId/delete">Delete</a>

  <button>Add to your favorites</button>

</div>