@model WhatsOnTap.ViewModels.BeerDetailsViewModel

@{
  Layout = "_Layout";
}

<div class='container'>
  <div class="card">
    <div class="card-body">
      <button id="@Model.CurrentBeer.BeerId" class="btn btn-outline-warning btn-sm float-right add-beer"><i class="fas fa-heart"></i> &nbsp;Favorite</button>
      <div class="beer-detail-actions">
        <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#deleteModal">
          <i class="fas fa-trash-alt"></i> &nbsp;Delete
        </button>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <div class="alert alert-danger" role="alert">
                  <i class="fas fa-exclamation-triangle"></i><span class="bold"> &nbsp;Hold up!</span> Deleting a beer cannot be undone!
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                <a href="/beers/@Model.CurrentBeer.BeerId/delete"><button type="button" class="btn btn-outline-danger">Delete </button></a>
              </div>
            </div>
          </div>
        </div>        
      <a href="/beers/@Model.CurrentBeer.BeerId/edit" class="btn btn-outline-info btn-sm"><i class="fas fa-edit"></i> &nbsp;Edit</a>
      </div>
      <div class="beer-card-title">
        <span>@Model.CurrentBeer.BeerName </span><i class="fas fa-angle-right"></i>&nbsp;<span class="text-muted">@Model.CurrentBeer.BeerBreweryName</span>
      </div>
      <div class="beer-details">
          <span class="beer-detail-info"><span class="bold">Style <i class="fas fa-angle-right"></i></span> <span class="text-muted">@Model.CurrentBeer.BeerStyle</span></span>
          <span class="beer-detail-info"><span class="bold">ABV <i class="fas fa-angle-right"></i></span> <span class="text-muted">@Model.CurrentBeer.BeerAbv</span></span>
          <span class="beer-detail-info"><span class="bold">IBU <i class="fas fa-angle-right"></i></span> <span class="text-muted">@Model.CurrentBeer.BeerIbu</span></span>
      </div>
      <div class="beer-detail-modal">
          <button type="button" class="btn btn-primary btn-lg modal-button" data-toggle="modal" data-target="#barsWithBeerModal">
            Bars Serving @Model.CurrentBeer.BeerName
          </button>

          <div class="modal fade" id="barsWithBeerModal" tabindex="-1" role="dialog" aria-labelledby="beerDetailModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <ul class="list-group list-group-flush">
                    @foreach (var bar in Model.BeerBars)
                    {
                      <li class="list-group-item">
                        <div class="beer-modal-bar-name">
                          <a href="/bars/@bar.BarId">@bar.BarName</a>
                        </div>
                      </li>
                    }
                  </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
