@{
  Layout = "_Layout";
}

<div class='container'>
  <h1>Sample detail page for a Beer</h1>

  <div class="beersGridFive">
    <div class="cellHead">Beer Name</div>
    <div class="cellHead">Bars Serving</div>
    <div class="cellHead">Brewery</div>
    <div class="cellHead">Style</div>
    <div class="cellHead">ABV</div>
    <div class="cellHead">IBU</div>

    <div>@Model.CurrentBeer.BeerName</div>
    <div>
      @foreach(var bar in @Model.BeerBars)
      {
        <a href="/bars/@bar.BarId"><span>@bar.BarName</span></a><br />
      }
    </div>
    <div>@Model.CurrentBeer.BeerBreweryName</div>
    <div>@Model.CurrentBeer.BeerStyle</div>
    <div>@Model.CurrentBeer.BeerAbv</div>
    <div>@Model.CurrentBeer.BeerIbu</div>

  </div>
  <a href="/beers/@Model.CurrentBeer.BeerId/delete">Delete</a>

  <button>Add to your favorites</button>

</div>
