@model IEnumerable<WhatsOnTap.Models.Beer>

@{
  Layout = "_Layout";
}

  <div class='container'>
    <h1>Sample index page for Beers</h1>

    <div class="beersGrid">
      <div>Beer</div>
      <div>Brewery</div>
      <div>Style</div>
      <div>ABV</div>
      <div>IBU</div>

      @foreach (var beer in Model)
      {
        <div><a href="/beers/@beer.BeerId">@beer.BeerName</a></div>
        <div>@beer.BeerBreweryName</div>
        <div>@beer.BeerStyle</div>
        <div>@beer.BeerAbv</div>
        <div>@beer.BeerIbu</div>
      }


    </div>

  </div>
