@{
    Layout = "_Layout";
    @* Edit API Key to hide from public *@
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhXVDo8Km_LaWNnYCw_WeGQoiT6XMgHvg&callback=initMap"></script>
}

<div class='container'>
    <h1 class="details-heading">@Model.CurrentBar.BarName</h1>


    <div id="map_canvas"></div>

    @{
        var lat = @Model.CurrentBar.BarLatitude;
        var lng = @Model.CurrentBar.BarLongitude;
    }

    <script type="text/javascript">  
        $(document).ready(function () {
            initialize();
        });
        function initialize() {
            var mapOptions = {
                center: new google.maps.LatLng(@lat, @lng),
                zoom: 17,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);
            var marker = new google.maps.Marker({position: {lat: @lat, lng: @lng}, map: map});
        }
    </script>  
    @foreach (var beer in Model.BarBeers)
    {    
        <div class="row beers-list-row">
            <div class="col-4">
                <ul class="list-group list-group-flush">
                    <a href="/beers/@beer.BeerId"><li class="list-group-item">@beer.BeerName</li></a>
                </ul>
            </div>
            <div class="col-2">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@beer.BeerStyle</li>
                </ul>
            </div>
            <div class="col-2">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@beer.BeerAbv</li>
                </ul>
            </div>
            <div class="col-2">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@beer.BeerIbu</li>
                </ul>
            </div>
            <div class="col-2">
                <button id="@beer.BeerId" class="btn btn-sm btn-outline-warning add-beer favorite-beer"><i class="fas fa-heart"></i> &nbsp;Favorite</button>
            </div>
        </div>
    }
</div>