@{
    Layout = "_Layout";
    var itemCount = 1;
    @* Edit API Key to hide from public *@
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhXVDo8Km_LaWNnYCw_WeGQoiT6XMgHvg&callback=initMap"></script>
}

<div class='container'>
    <h1 class="details-heading">@Model.CurrentBar.BarName</h1>


    <div id="map_canvas"></div>

    @{
        var lat = @Model.CurrentBar.BarLatitude;
        var lng = @Model.CurrentBar.BarLongitude;
    }

    <script type="text/javascript">
        $(document).ready(function () {
            initialize();
        });
        function initialize() {
            var mapOptions = {
                center: new google.maps.LatLng(@lat, @lng),
                zoom: 17,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);
            var marker = new google.maps.Marker({position: {lat: @lat, lng: @lng}, map: map});
        }
    </script>

    @foreach (var beer in @Model.BarBeers)
    {
        @if (itemCount == 1)
        {
            @Html.Raw("<div class='card-deck'>")
        }

        <div class="card">
            <img class="card-img-top" src="~/img/beer-icon.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title"><a href="/beers/@beer.BeerId">@beer.BeerName</a></h4>
                <p class="card-text">@beer.BeerStyle</p>
                <p class="card-text">@beer.BeerAbv% ABV</p>
                <p class="card-text">@beer.BeerIbu IBU</p>
            </div>
        </div>

        @if (itemCount == 3)
        {
            @Html.Raw("</div>")
            itemCount = 1;
        }
        else {
            itemCount++;
        }
    }
    <a href="/bars/@Model.CurrentBar.BarId/delete">Delete</a>
</div>
