@model IEnumerable<WhatsOnTap.Models.Bar>

@{
    Layout = "_Layout";
    var itemCount = 1;
}

<div class='container'>
    <h1>Bars</h1>

    @foreach (var bar in Model)
    {   
        @if (itemCount == 1)
        {
            @Html.Raw("<div class='card-deck'>")
        }

        <div class="card">
            <img class="card-img-top" src="~/img/bar-icon.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title"><a href="/bars/@bar.BarId">@bar.BarName</a></h4>
                <p class="card-text"><span class="card-category">Address:</span> @bar.BarStreet, @bar.BarCity, @bar.BarState @bar.BarZip</p>
                <p class="card-text"><span class="card-category">Phone Number:</span> @bar.BarPhone</p>
                <p class="card-text"><span class="card-category">Website:</span> <a href="@bar.BarWebsite">@bar.BarWebsite</a></p>
            </div>
            <div class="card-footer">
                <p class="card-text"><span class="card-category">Rating:</span> @bar.BarRating</p>
            </div>
        </div>

        @if (itemCount == 3)
        {
            @Html.Raw("</div>")
            itemCount = 1;
        }
        else {
            itemCount++;
        } 
    }
</div>
