@model IEnumerable<WhatsOnTap.Models.Bar>

@{
    Layout = "_Layout";
    var itemCount = 1;
}

<div class='container'>
    @foreach (var bar in Model)
    {   
        @if (itemCount == 1)
        {
            @Html.Raw("<div class='card-deck'>")
        }

        <div class="card bar-card">
            <img class="card-img-top" src="~/img/bar-icon.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title"><a href="/bars/@bar.BarId">@bar.BarName</a></h4>
                <div class="card-insides">
                    <div class="address-icon"><img class="card-icons" src="~/img/address.png" alt="Address Icon"></div>
                    <div class="address-text">@bar.BarStreet, @bar.BarCity, @bar.BarState @bar.BarZip</div>
                </div>  
                <div class="card-insides">
                    <img class="card-icons" src="~/img/telephone.png" alt="Phone Icon">
                    <span>@bar.BarPhone</span>
                </div>
                <div class="card-insides">
                    <img class="card-icons" src="~/img/web.png" alt="Website Icon">
                    <span><a href="@bar.BarWebsite">@bar.BarName Site</a></span>
                </div>
            </div>
            <div class="card-footer">
                <span class="rating-text">Rating:</span>
            @for (var i = 0; i < @bar.BarRating; i++)
            {
                <img class="rating-icons" src="~/img/beer-bottle.png" alt="Star Icon"> 
            }
            </div>
        </div>

        @if (itemCount == 3)
        {
            @Html.Raw("</div>")
            itemCount = 1;
        }
        else {
            itemCount++;
        } 
    }





</div>
